<div class="container">
  <div class="user-details">
    <h3> 个人经历 </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>成长</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>1989年降临于世，小婴儿胖的不行，父母工作繁忙，哥哥和我分别寄宿在爷爷和姥爷家，父亲很强势，学习成为教师，
	    使得我们可以迁移到大城市哈尔滨的郊外，在那里上了小学（小学时光真的好）,之后去了城里上初中、高中，不意外
		的上了大学，本就打算出去闯，于是奔赴到湖南长理，新校区真不错，四年大学时光转眼即逝，现已经工作多年，以后
		未知的路还要走，且行且珍惜。
      </p>
    </div>
    <div class="four columns">
      <h4>兴趣</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>爱好这个东西很奇妙，就是好奇心引起的，得不到什么就越想得到而已，计算机电脑高科技，我那时乡下哪有这些，
	  去了城里自然就很好奇，也喜欢学，可以玩游戏啊（笑哭了），跟上时代潮流（CS，WAR3，WOW...），动漫（龙珠，四驱，海贼...），
	  编程真的不错，当时认为可以自己改变一切，现在才知道想法永远比现实重要。
	     再说说运动，小时候的运动健将，到了城里基本处于静止状态，这里只能叹息说一声遗憾，都说喜欢看书，小时候真的很
	  喜欢，看得多了也就不喜欢了（都懂的），腻而不厌的东西，我只能呵呵哒。
	  </p>
    </div>
    <div class="four columns">
      <h4>技能</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>猿技必杀，略知皮毛的都说一下，以后再深造，哈哈
		 前端：HTML5/CSS3, javascript, PhotoShop, Office 以及各种框架变形
		 语言：C/C++, Java, Python，Shell
		 平台：Linux， Android， IOS
		 工具：U3D ，Git， WebStrom， 搜索大法</p>
    </div>
  </div>
</div>
