<div class="container">
  <div class="user-details">
    <h3> 自用推荐（福利） </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/haizei.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 我的资源我做主 </h5>
      <li> 资源侠 </li>
      <p>你是否为某个资源被屏蔽而苦恼，为找不到超好的网评剧而到处瞎搜，请伸出你的小爪点击，你会有一番新天地，自用的搜索资源，真的好。</p>
      <a class="project-link" href="https://zyx1583.kuaizhan.com/">尽在其中</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/language.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 活到老学到老 </h5>
      <ul>
        <li> 学习探索 </li>
      </ul>
      <p>学习是一个广而流传的话题，能有东西可学真的不错，充实自己，充实人生，这里是菜鸡儿的程序基地。</p>
      <a class="project-link" href="https://freeruzy.github.io/blog/">赶去充电</a>
    </div>
  </div>
</div>
